
.icon-adult:before { content: '\e800'; } /* '' */
.icon-flag:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-heart:before { content: '\e803'; } /* '' */
.icon-transgender:before { content: '\f224'; } /* '' */
